<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="../static/styles.css" />
  <title>AI based Plant Detection</title>
</head>

<body>
  
  <main>
    <section class="prototype" id="prototype">
      <div class="centered">
        <div class="header">
          <!-- <h2>Prototype</h2> -->
          <!-- <h3>Attach your plant sample below:</h3> -->
        </div>
        <div class="content">
          <div class="left">
            <section class="form-box">
                  <div>
                    {% if data %}
                      <p >Predicted Plant: {{ data[0] }} </p>
                      <video width="640" height="360" controls>
                        <source src="{{ url_for('static', filename='vid.mp4') }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                    </div>
               
            </section>
             
            <br>
            

          </div>
          <div class="right">
            
              <p class="team-id">Herb ID</p>
              <h1>Scan and Get Information</h1>
              <h2>We help people learn a lot about using medicinal plants by giving them access to videos and guidance from experts right away.</h2>
              <div class="button-class"><button class="button-31" role="button">Watch Video</button></div>  
          </div>
        </div>
        <div class="information">
            <section class="General-information">
              <quote>General Information: </quote>
              <br />
              <p>
                {{ data[1]['GeneralInfo'] }}
              </p>
            </section>
            <section class="Medicianl-information">
              <quote>Medicianl Information: </quote>
              <br />
              <p>
                {{ data[1]['MedicinalInfo'] }}
              </p>
            </section>
            <section class="Culti-information">
              <quote>Culti Information: </quote>
              <br />
              <p>
                {{ data[1]['CultivationInfo'] }}
              </p>
            </section>
        </div>
      </div>
    </section>
    </section>

  </main>

  <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
  <!-- <script src="../static/script1.js"></script> -->
  <script>
    // Get references to the input and image elements
const imageInput = document.getElementById('imageInput');
const imagePreview = document.getElementById('imagePreview');

// Add an event listener to the file input
imageInput.addEventListener('change', function() {
  // Check if a file is selected
  if (imageInput.files && imageInput.files[0]) {
    const reader = new FileReader();

    // Read the selected file as a data URL
    reader.readAsDataURL(imageInput.files[0]);

    // Set the image source to the data URL when it's loaded
    reader.onload = function(e) {
      imagePreview.src = e.target.result;
    };

    // Hide the content container (including the <h1> element)
      contentContainer.style.display = 'block';
        h1Element.style.display = 'none';
  }  else {
        // Clear the src attribute if no file is selected
        uploadedImage.src = '';

        // Show the content container
        contentContainer.style.display = 'none';
        h1Element.style.display = 'block';
    }
});
  </script>
  <script>
    
  </script>

</body>


</html>